$primary-text: #323232; //black
$primary-cta: #0095FF; //blue
$secondary-text: #afafaf; // silver
$primary-background: #ffffff; //white 
$secondary-video: #000000; // darkblack
$secondary-cta: #0065AD; //dark blue
$divider-line: #e1e1e1; // mercury
$secondary-background: #fafafa; // alabaster



