@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

// Styling for the comment form

.com-form {
    @include flex($flex-wrap: wrap, $align-items: flex-start, $justify-content: flex-end, $box-sizing: box-sizing);
    border-bottom: 1px solid $divider-line;
  
    @include tablet {
      @include flex($flex-wrap: wrap, $align-items: flex-start, $box-sizing: box-sizing);
    }
  
    @include desktop {
      @include flex($flex-wrap: wrap, $align-items: flex-start, $box-sizing: box-sizing);
    }
  
    &__img {
      border-radius: 50%;
      height: 3rem;
      width: 3rem;
      background-color: $divider-line;
      margin: 0 1.125rem 0 0;
      object-fit: cover;
    }
  
    &__label {
      @include font-styling(100, $secondary-text);
      @include format-text(1.25rem, 0 0 0 4.125rem, .75rem);
      width: calc(100% - 4.125rem);
      flex-grow: 1;
      text-transform: uppercase;
      align-self: center;
    }
  
    &__comment {
      @include font-styling(100, $primary-text);
      font-family: 'AvenirNext';
      box-sizing: border-box;
      border-radius: 4px;
      flex-grow: 1;
      padding: .75rem;
  
      height: 6.75rem;
      width: calc(100% - 4.125rem);
  
      @include tablet {
        flex-grow: 0;
        height: 3rem;
        width: 27.5rem;
      }
  
      @include desktop {
        flex-grow: 0;
        height: 3rem;
        width: 25.5rem;
      }
  
      &::placeholder {
        color: $secondary-text
      }
  
      &:focus {
        outline: none;
        border: 2px solid $primary-cta;
      }
    }
  }