@use './styles/partials/breakpoints' as *;
@use './styles/partials/fonts' as *;
@use './styles/partials/colors' as *;
@use './styles/partials/mixins' as *;

* {
    font-family: 'AvenirNext LT Pro', serif;
}

body {
    margin: 0;
    width: 100vw;
    font-size: 16px;
  }
  
a {
text-decoration: none;
  }