@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

// Styling for individual comments

.comment {
  @include flex($flex-wrap: wrap, $box-sizing: box-sizing);
  width: 100%;
  border-bottom: 1px solid $divider-line;
  padding: 1.5rem 0;

  @include tablet {
    @include flex($flex-wrap: wrap, $box-sizing: box-sizing);
  }

  @include desktop {
    @include flex($flex-wrap: wrap, $box-sizing: box-sizing);
  }

  &__img {
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    background-color: $divider-line;
    display: inline-block;
    margin-right: 0.875rem;
    object-fit: cover;
  }

  &__name {
    @include font-styling(700, $primary-text);
    @include format-text(1.375rem, 0 1rem 0 0, 0.875rem);
    display: inline-block;

    @include tablet {
      @include format-text(1.5rem, 0 1rem 0 0);
    }

    @include desktop {
      @include format-text(1.5rem, 0 1rem 0 0);
    }
  }

  &__timestamp {
    @include font-styling(400, $secondary-text);
    @include format-text($lh: 1.375rem, $fs: 0.875rem);
    display: inline-block;
    flex-grow: 1;
    text-align: right;

    @include tablet {
      @include format-text(1.5rem, 0 1rem 0 0);
      text-align: left;
    }

    @include desktop {
      @include format-text(1.5rem, 0 1rem 0 0);
      text-align: left;
    }
  }

  &__text {
    @include font-styling(400, $secondary-video);
    @include format-text(1.125rem, 0 0 0 3.5rem, 0.8125rem);
    width: calc(100% - 3.4375rem);

    @include tablet {
      @include format-text(1.375rem, 0 0 0 3.5rem, 0.875rem);
      padding-right: calc(100% - 39rem);
    }

    @include desktop {
      @include format-text(1.375rem, 0 0 0 3.5rem, 0.875rem);
      padding-right: calc(100% - 39rem);
    }
  }
}
